$--fg-color-primary: white;
$--fg-color-secondary: #dddddd;
$--fg-color-tertiary: #c0c0c0;

$--bg-color-primary: #4b4c5c;
$--bg-color-secondary: #575875;

$--input-fg-color-primary: white;
$--input-fg-color-secondary: #dddddd;

$--input-bg-color-primary: #4b4c5c;
$--input-bg-color-secondary: #575875;

$--font-family-default: sans-serif;
$--font-family-paragraph: $--font-family-default;
$--font-family-input: "Freeroad";

$--screen-width-small: 600px;

@font-face {
    font-family: "Freeroad";
    src: url("/fonts/freeroad.regular.ttf");
}
